<html lang="en">

<head>
    <title>TOTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" defer>
        function verify(modal) {
            console.log(modal)
            const username = document.getElementById('username').value

            fetch(`/verify?username=${username}&token=${document.getElementById(`${modal}_token_input`).value}`).then(response => {
                response.json().then(result => {
                    if (result.message === 'true') {
                        location.href = 'http://localhost:8080/dashboard'
                    } else {
                        document.getElementById(`${modal}_verify_result`).innerHTML = result.message;
                        document.getElementById(`${modal}_verify_result`).className = 'alert alert-danger'
                    }
                })
            })
        }
    </script>
    <script>
        function handleClick() {
            const username = document.getElementById('username').value
            console.log(username)
            fetch(`/hasUserSecurityToken?userName=${username}`).then(result => {
                result.text().then(hasUserSecurityToken => {
                    if (hasUserSecurityToken == 'true') {
                        document.getElementById('VerifyModal').style.display = "block"
                    } else {
                        console.log('jop')
                        fetch(`/generateSecretForUser?username=${username}`).then(result => {
                            result.text().then(json => {
                                console.log(json)

                                document.getElementById('qr-image').src = json
                                document.getElementById('qrCodeModal').style.display = "block"
                            })
                        })
                    }
                })
            })
        }
    </script>
</head>

<body>
    <form id="form" style="padding: 50px;">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" value="donald" class="form-control" id="username" placeholder="Enter your username">
            <small class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
            <small class="text-danger" id="passwordError"></small>
        </div>
        <button type="button" onclick="handleClick()" class="btn btn-primary">Login</button>
    </form>

    <div class="modal" tabindex="-1" aria-hidden="false" id="qrCodeModal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Dies ist ihr erstes login. Bitte aktivieren sie Zweifaktor-Authentifizierung</h1>
                </div>
                <div class="modal-body">
                    <p>Öffnen Sie diesen QR-Code in Google Authenticator. Geben Sie dann den erhaltenen
                        verifizierungs-key ein.</p>
                    <img id="qr-image">
                    <input id="qrCodeModal_token_input" type="text"
                        style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif; width: 155px;"
                        placeholder="000000">
                    <input id="verify_button" type="button" value="Verify" onclick="verify('qrCodeModal')">
                    <p id="qrCodeModal_verify_result"></p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" aria-hidden="false" id="VerifyModal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Bitte gebe den Google Authenticator Token ein.</h2>
                </div>
                <div class="modal-body">
                    <input id="VerifyModal_token_input" type="text"
                        style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif; width: 155px;"
                        placeholder="000000">
                    <input id="verify_button" type="button" value="Verify" onclick="verify('VerifyModal')">
                    <div style="margin-top: 10px;">
                        <p id="VerifyModal_verify_result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>