<html lang="en">

<head>
    <title>TOTP</title>
    <script type="text/javascript" defer>
        window.onload = () => {
            document.getElementById('verify_button').onclick = () => {
                fetch('/verify?token=' + document.getElementById('token_input').value).then(response => {
                    response.json().then(result => {
                        document.getElementById('verify_result').innerHTML = result.message;
                    })
                })
            }
        }
    </script>
</head>

<body>
    <input id="token_input" type="text"
        style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif; width: 155px;"
        placeholder="000000">
    <input id="verify_button" type="button" value="Verify">
    <p id="verify_result"></p>
</body>

</html>