<html lang="en">

<head>
    <title>TOTP</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" defer="" async="">window.onload = () => {
            document.getElementById('verify_button').onclick = () => {
                $.get('verify?token=' + $('#token_input').val(), function (data) {
                    $('#verify_result').text(data);
                });
            }
        }</script>
</head>

<body>
    <input id="token_input" type="text"
        style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif; width: 155px;"
        placeholder="000000">
    <input id="verify_button" type="button" value="Verify">
</body>

</html>