<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="1086787687783-5vfu7ee5o807vp4e844r907b6k67nu53.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>Dashboard</title>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                document.cookie = `session-token=;`
                location.assign('.')
            }).catch(() => {
                document.cookie = `session-token=;`
                location.assign('.')
            });
        }

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

    </script>
</head>

<body>
    <div style="margin: 200px;">
        <div class="row" style="justify-content: center;">
            <button style="align-self: center; margin-right: 20px;" class="btn btn-primary" onclick="signOut()">sign out</button>
            <h1>This is your dashboard, <%= user.name %>...</h1>
        </div>
        <img style="width: 400px; margin: 20px;" class="rounded mx-auto d-block" src="<%= user.picture %>">
        <div style="margin: 0px 200px;">
            <p class="alert alert-success">You are logged in!</p>
        </div>
    </div>
</body>

</html>