<html lang="en">

<head>
    <title>TOTP</title>
    <meta name="google-signin-client_id"
        content="1086787687783-5vfu7ee5o807vp4e844r907b6k67nu53.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.responseText == 'success') {
                    location.assign('/dashboard')
                }
            };
            xhr.send(JSON.stringify({ token: id_token }));
        }
    </script>
</head>

<body>
    <h1>Nerdopedia</h1>
    <div style="justify-content: center;">
        <div class="card"  style="width: 18rem; margin: auto;">
            <div class="card-body">
                <div class="card-title">
                    Please sign in first!
                </div>
                <div>
                    <div style="width: 100px;" class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>